
BASE_URL="http://yourURL"

SERVER_ADDR=":0000"

# postgres
POSTGRES_DB= db_name
POSTGRES_HOST= your_host
POSTGRES_PORT= 0000
POSTGRES_USER= your_user
POSTGRES_PASSWORD= your_password

# Redis
REDIS_ADDR=172.24.204
REDIS_ADD=146.70.230.
REDIS_PASSWORD=passwprd

# JWT
JWT_SECRET= secret
JWT_EXPIRE=7
JWT_REFRES=3600

STRIPE_SECRET_KEY= your_stripe_secret_key